.gen-text{
    font-family: 'Quando', serif;

}

body{
    background-color: #C9F8B5;
}

#submit{
    color: white;
    background-color: green;
    border: green solid 10px;
    border-radius: 20px;
    width:200px;
}